<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <h1>{{ obj.first_name }}
        <h1>{{ obj.last_name }}</h1>
        <h1>{{ obj.audio_file }}</h1>
    <audio controls>
                <source src="{{  obj.audio_file.url}}" type="audio/mp3"> {# Adjust type as needed #}
                Your browser does not support the audio element.
            </audio>

</head>
<body>

</body>
</html>